@import "variables.scss";

@mixin body-font-family() {
  font-weight: bold;
  font-family: $font-family;
}

@mixin container($padding-r: 30px, $padding-l: 30px, $width: 320px, $margin-t: 0) {
  box-sizing: border-box;
  width: $width;
  margin: 0 auto;
  margin-top: $margin-t;
  padding-right: $padding-r;
  padding-left: $padding-l;
}

@mixin unstyle-list {
  margin: 0;
  padding: 0;

  list-style: none;
}
