@font-face {
  font-weight: normal;
  font-family: "Open Sans";
  font-style: normal;

  src: url("../fonts/opensans.woff2") format("woff2"),
       url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "Open Sans";
  font-style: normal;

  src: url("../fonts/opensansbold.woff2") format("woff2"),
       url("../fonts/opensansbold.woff") format("woff");
}

body {
  font-size: 17px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #000000;
  font-weight: bold;
  font-style: normal;
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-content-show {
  display: block;
}

.modal-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;

  width: 55px;
  height: 55px;

  font-size: 0;

  background-color: #63d1bb;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  opacity: 0.5;
  z-index: 10;
}

.modal-close-btn:hover {
  opacity: 1;
}

.modal-close-btn:active::before,
.modal-close-btn:active::after {
  opacity: 0.3;
}

.modal-close-btn::before,
.modal-close-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 32px;
  height: 2px;

  background-color: #ffffff;
}

.modal-close-btn::before {
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
}

.modal-close-btn::after {
  top: 49%;

  -webkit-transform: translateX(-50%) rotate(-45deg);
          transform: translateX(-50%) rotate(-45deg);
}
