$mobile-widths-only: "(max-width: 767px)";
$tablet-widths: "(min-width: 768px)";
$tablet-widths-only: "(max-width: 1149px)";
$desktop-widths: "(min-width: 1150px)";
$border-color: #ececec;
$bg-lightgrey: #f1f1f1;
