@import "../mixins.scss";

.catalog-heading {
  padding-top: 70px;
  padding-bottom: 76px;

  background-color: #f1f1f1;
}

.catalog-heading h1 {
  font-size: 27px;
  text-align: center;

  @include container();
}


@media #{$tablet-widths} {
  .catalog-heading {
    padding-top: 96px;
    padding-bottom: 79px;
  }

  .catalog-heading h1 {
    padding-left: 10px;

    font-size: 43px;
    line-height: 50px;
  }
}

@media #{$desktop-widths} {
  .catalog-heading {
    padding-top: 96px;
    padding-bottom: 103px;
  }

  .catalog-heading h1 {


    font-size: 53px;
    line-height: 57px;
  }
}
