@import "../mixins.scss";

.catalog-heading {
  padding-top: 70px;
  padding-bottom: 76px;

  background-color: #f1f1f1;
}

.catalog-heading h1 {
  font-size: 27px;
  text-align: center;
  @include container();
}
