@import "../mixins.scss";

.category {
  display: flex;
  flex-wrap: wrap;

  @include unstyle-list();
}

.category__item {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 103px;

  background-color: #63d1bb;
  &--toys {
    background-color: #56c3b2;
  }
}

.category__name {
  box-sizing: border-box;
  padding-right: 70%;

  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;

  @include container-fluid();
  position: relative;
}

.category__name:active {
  opacity: 0.3;
}

.category__picture {
  fill: rgba(59, 176, 157, .5);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.category__item:hover .category__picture {
  fill: rgba(41, 165, 146, .7);
}

.category__item:active .category__picture {
  fill: rgba(68, 192, 170, .3);
}

@media #{$tablet-widths} {
  .category {
    flex-wrap: wrap;
    padding-bottom: 40px;

    @include container-fluid();
  }

  .category__item {
    width: 50%;
    min-height: 119px;
    background: #63d1bb url("../img/bg-zigzag-fill.svg") no-repeat 100% 120%;
    &--toys {
      background-color: #56c3b2;
    }
  }

  .category__name {
    margin-left: 38px;

    font-size: 20px;
    line-height: 30px;
  }

  .category__picture {
    right: 15px;
  }
}

@media #{$desktop-widths} {
  .category {
    padding-bottom: 0;
  }

  .category__item {
    margin-bottom: 117px;
  }
}
