@import "../mixins.scss";

.features {
  @include container-fluid();
}

.features__title {
  margin-bottom: 30px;

  font-size: 25px;
}

.features__list {
  @include unstyle-list();
}

.features__item {
  margin-bottom: 25px;
  padding-top: 56px;
  padding-right: 23%;

  line-height: 21px;
  position: relative;
  background-repeat: no-repeat;
}

.features__item--materials {
  padding-right: 31%;
  background-image: url("../img/icon-feature-materials.svg");
}

.features__item--hand-made {
  padding-right: 15%;
  background-image: url("../img/icon-feature-clew.svg");
}

.features__item--national {
  padding-right: 0;
  background-image: url("../img/icon-feature-rocket.svg");
}

.features__item--price {
  background-image: url("../img/icon-feature-money.svg");
}

.features__item--likes {
  background-image: url("../img/icon-feature-heart.svg");
}

.features__item--gift {
  background-image: url("../img/icon-feature-gift.svg");
}

.features__icon {
  position: absolute;
  top: 0;
  left: 0;
}

@media #{$tablet-widths} {
  .features {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 29px;
  }

  .features__title {
    width: 100%;
    margin-top: 17px;
    margin-bottom: 46px;

    font-size: 43px;
    line-height: 50px;
  }

  .features__list {
    display: flex;
    flex-wrap: wrap;
  }

  .features__item {
    box-sizing: border-box;
    width: 50%;
    margin-bottom: 50px;
    padding-top: 56px;
    padding-right: 16%;

    font-size: 20px;
    line-height: 24px;
  }

  .features__item--hand-made {
    order: 1;
    padding-right: 6%;
  }

  .features__item--price {
    order: 2;
    padding-right: 15%;
  }

  .features__item--national {
    order: 3;
    padding-right: 6%;
  }

  .features__item--likes {
    order: 4;
    padding-right: 15%;
  }

  .features__item--gift-wrap {
    order: 5;
    padding-right: 6%;
  }
}

@media #{$desktop-widths} {
  .features {
    padding-bottom: 38px;
  }

  .features__title {
    padding-left: 16%;

    font-size: 53px;
    line-height: 57px;
  }

  .features__list {
    width: 66.5%;
    padding-left: 17%;
  }

  .features__item {
    box-sizing: border-box;
    width: 50%;
    padding-right: 13%;
  }

  .features__item--materials {
    padding-right: 17%;
  }

  .features__item--likes {
    padding-right: 16%;
  }

  .features__item--national {
    padding-right: 5%;
  }
}
