@import "../mixins.scss";

.features {
  @include container();
}

.features__title {
  font-size: 25px;
  margin-bottom: 30px;
}

.features__list {
  @include unstyle-list();
}

.features__list-item {
  line-height: 21px;
  padding-top: 60px;
}
