@import "../mixins.scss";

.form {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 13px;
}

.form__stretch {
  width: 100%;
}

.form__container {
  display: flex;
  flex-wrap: wrap;

  @include container();
}

.form__field {
  display: flex;
  flex-wrap: wrap;
  padding-top: 0;
}

.form__title {
  margin-top: 0;
}

.form__field--category {
  padding-top: 10px;
}




.form__field--color label {
  width: 100%;
}

.form__title {
  position: relative;

  width: 100%;
  padding-top: 10px;

  line-height: 16px;
  color: $azure;
  text-transform: uppercase;
}

.form__title--category {
  margin-top: 0;
  padding-top: 0;
}

@media #{$mobile-widths-only} {
  .form__title::after {
    content: "";
    position: absolute;
    top: 75%;
    right: 0;

    width: 198px;
    height: 1px;

    background-color: $azure;
  }

  .form__title--category::after {
    top: 50%;
  }

  .form__title--email::after {
    width: 179px;
  }
}

.form__title--category {
  margin-bottom: 14px;
}

label {
  font-weight: bold;
  line-height: 18px;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
  position: relative;

  padding-left: 62px;

  cursor: pointer;
}

input[type="radio"] + label {
  height: 45px;
  padding-top: 15px;
}

input[type="radio"] + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  box-sizing: border-box;
  width: 40px;
  height: 40px;

  border: 2px solid #444444;
  border-radius: 50%;
}

input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;

  width: 16px;
  height: 16px;

  background-color: $azure;
  border-radius: 50%;
}

input[type="radio"] + label:hover::before,
input[type="checkbox"] + label:hover::before {
  border-color: $azure;
}

input[type="radio"] + label:active::before,
input[type="checkbox"] + label:active::before {
  border-color: rgba(68, 68, 68, 0.3);
}

input[type="checkbox"]:checked + label::before {
  background: url("../img/icon-tick.svg") no-repeat 50% 50%;
}

.form__title--color {
  margin-bottom: 24px;
}

input[type="checkbox"] + label {
  height: 40px;
  margin-bottom: 10px;
  padding-top: 11px;
}

input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  box-sizing: border-box;
  width: 40px;
  height: 40px;

  border: 2px solid #444444;
}

.form__title--name {
  margin-bottom: 28px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
  width: 100%;
  height: 48px;
  margin-bottom: 22px;

  border: none;
  border-bottom: 2px solid #000000;
  outline: none;
  &:hover {
    border-color: $azure;
  }
  &:focus {
    color: $brown;
  }
}

input[type="text"]:focus {
  border-width: 1px;
  border-color: $azure;
  border-top: 1px solid transparent;
}

.form__title--сеll,
.form__title--email {
  margin-bottom: 7px;
}

.form__title--extra {
  margin-bottom: 24px;
}

textarea {
  box-sizing: border-box;
  width: 260px;
  height: 142px;
  padding: 15px;

  border: 2px solid #444444;
}

.form__note {
  padding-top: 18px;
  padding-bottom: 30px;

  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $brown;

  @include container();
}

.form__btn {
  @include btn();
  @include container();
}

@media #{$tablet-widths} {
  .form__title {
    box-sizing: border-box;
    width: 167px;
    padding-top: 48px;
  }

  .form__field {
    width: 500px;
  }

  .form__stretch {
    background-color: $bg-lightgrey;
  }

  .form__field--category {
    align-content: flex-start;
    margin: 0;
    padding: 0;
    padding-top: 30px;
    padding-bottom: 26px;
  }

  label {
    font-size: 19px;
    line-height: 18px;
  }

  input[type="radio"] + label {
    height: 45px;
    margin-bottom: 16px;
    padding-left: 82px;
  }




  input[type="radio"] + label::before {
    top: 0;
    left: 0;

    width: 52px;
    height: 53px;
  }

  input[type="radio"]:checked + label::after {
    top: 16px;
    left: 15px;

    width: 22px;
    height: 22px;
  }

  .form__field--color {
    padding-top: 50px;
    padding-bottom: 30px;
  }

  .form__title--color {
    padding-top: 70px;
  }

  input[type="checkbox"] + label::before {
    top: 0;
    left: 0;

    width: 58px;
    height: 58px;
  }

  input[type="checkbox"] + label {
    box-sizing: border-box;
    width: 260px;
    margin-bottom: 35px;
    padding-top: 18px;
    padding-left: 80px;
  }

  input[type="checkbox"] + label[for="orange"],
  input[type="checkbox"] + label[for="black"],
  input[type="checkbox"] + label[for="gray"] {
    width: 240px;
  }
}
