@import "../mixins.scss";

.form-heading {
  padding-top: 70px;
  padding-bottom: 76px;
  padding-left: 16px;

  background-color: $bg-lightgrey;
}

.form-heading h1 {
  margin: 0;

  font-size: 27px;
  color: #231f20;

  @include container();
}

@media #{$tablet-widths} {
  .form-heading {
    padding-top: 95px;
    padding-bottom: 80px;
  }

  .form-heading h1 {
    font-size: 43px;
    line-height: 50px;
    text-align: center;
  }
}

@media #{$desktop-widths} {
  .form-heading h1 {
    font-size: 53px;
    line-height: 57px;
  }

  .form-heading {
    padding-bottom: 100px;
  }
}
