@import "../mixins.scss";

.form-heading {
  padding-top: 70px;
  padding-bottom: 76px;
  padding-left: 16px;

  background-color: $bg-lightgrey;
}

.form-heading h1 {
  margin: 0;

  font-size: 27px;
  color: #231f20;

  @include container();
}
