@import "../mixins.scss";

.form-intro {
  padding-top: 22px;
  padding-bottom: 25px;

  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #444444;

  @include container();
}

@media #{$tablet-widths} {
  .form-intro {
    padding-top: 75px;

    font-size: 17px;
    line-height: 30px;
  }
}

@media #{$desktop-widths} {
  .form-intro {
    width: 700px;
    padding-top: 125px;
  }
}
