@import "../mixins.scss";

.header-intro {
  display: flex;
  width: 100%;
  height: 283px;

  background: url("../img/hero-mobile@1x.jpg") no-repeat 50% 50%;
  background-size: cover;
  border-top: 1px solid #ececec;
}

.header-intro p {
  width: 240px;
  margin: auto;

  font-size: 26px;
  text-align: center;
}
