@import "../mixins.scss";

.header-nav {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  width: 20px;
  height: 14px;
}

.header-nav__toggle {
  position: relative;

  align-self: center;
  width: 21px;
  height: 21px;

  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.header-nav--opened .header-nav__toggle::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 21px;
  height: 20px;

  background-image: url("../img/icon-menu-close.svg");
}

.header-nav--closed .header-nav__toggle::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 14px;

  background-image: url("../img/icon-menu-open.svg");
}

.header-nav__main-nav {
  position: absolute;
  top: 79px;
  left: 0;

  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 10;

  @include unstyle-list();
}

.header-nav__main-nav-item {
  background-color: #ffffff;
  border-top: 1px solid #ececec;
}

.header-nav__main-nav-link {
  display: block;
  width: 200px;
  margin: 0 auto;
  padding-left: 46px;

  line-height: 79px;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

.header-nav__main-nav-search-field {
  display: block;
  align-self: center;
  width: 200px;
  height: 79px;
  margin: 0 auto;
  padding-left: 46px;

  font-weight: bold;
  color: #000000;

  background: url("../img/icon-search.svg") no-repeat 0 50%;
  border: none;
}

.header-nav__main-nav-link--cart {
  position: relative;
}

.header-nav__main-nav-link--cart::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  display: block;
  width: 21px;
  height: 18px;

  background-image: url("../img/icon-cart.svg");
  transform: translateY(-50%);
}

.header-nav__main-nav-link[href] {
  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

@media #{$mobile-widths-only} {
  .header-nav--closed .header-nav__main-nav {
    display: none;
  }

  .header-nav--open .header-nav__main-nav {
    display: block;
  }

  .header-nav--nojs .header-nav__toggle {
    display: none;
  }

  .header-nav--nojs {
    align-items: center;
    width: 100%;
    height: auto;
  }

  .header-nav--nojs .header-nav__main-nav {
    position: static;

    display: block;

    transform: translateX(0);
  }

  .header-nav__extra-nav {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;

    border: 0;

    clip: rect(0 0 0 0);
  }
}

@media #{$tablet-widths} {
  .header-nav {
    justify-content: flex-end;
    height: auto;

    @include container-fluid();
  }

  .header-nav__toggle {
    display: none;
  }

  .header-nav__main-nav {
    position: static;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .header-nav__main-nav-item {
    border-top: none;
  }

  .header-nav__main-nav-link {
    width: auto;
    padding-left: 0;

    line-height: 88px;
  }

  .header-nav__main-nav-item--search {
    order: 2;
    align-self: flex-start;
    box-sizing: border-box;
    width: 12%;

    border-right: 1px solid $border-color;
    border-left: 1px solid $border-color;
  }

  .header-nav__main-nav-search-field {
    width: 100%;
    height: 86px;
    padding-left: 0;

    background-position: center;
  }

  .header-nav__main-nav-search-field::placeholder {
    font-size: 0;
  }

  .header-nav__main-nav-item--cart {
    order: 3;
    align-self: flex-start;
    width: 40%;
  }

  .header-nav__main-nav-link--cart {
    padding-left: 30%;

    text-align: right;
    &::before {
      left: 32px;
    }
  }

  .header-nav__main-nav-item--catalog {
    width: 25%;
    margin-top: 72px;

    font-size: 15px;
    background-color: transparent;
  }

  .header-nav__main-nav-item--order {
    width: 23%;
    margin-top: 72px;

    font-size: 15px;
    background-color: transparent;
  }

  .header-nav__extra-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: -59px;
    padding: 0;

    list-style: none;
  }

  .header-nav__extra-nav-delivery {
    align-self: center;

    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
  }
}

@media #{$tablet-widths-only} {
  .header-nav__extra-nav-item--new,
  .header-nav__extra-nav-item--sale {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;

    border: 0;

    clip: rect(0 0 0 0);
  }

  .header-nav__extra-nav-item:first-child {
    width: 50%;
    margin-left: 50%;

    text-align: right;
  }
}

@media #{$desktop-widths} {
  .header-nav__main-nav-item--catalog {
    order: 0;
    box-sizing: border-box;
    width: 18%;
    height: 100%;
    margin-top: 0;

    font-size: 17px;

    border-right: 1px solid $border-color;
  }

  .header-nav__main-nav-item--order {
    order: 1;
    width: 22%;
    margin-top: 0;
    padding-left: 3%;

    font-size: 17px;
  }

  .header-nav__main-nav-item--search {
    order: 2;
    width: 8%;
    margin-left: 24%;
  }

  .header-nav__main-nav-item--cart {
    order: 3;
    width: 25%;
  }

  .header-nav__extra-nav {
    margin-top: 0;
  }

  .header-nav__extra-nav-link {
    font-size: 15px;
    line-height: 59px;
    color: #000000;
  }

  .header-nav__extra-nav-item--new {
    order: 0;
    width: 18%;
  }

  .header-nav__extra-nav-item--sale {
    order: 1;
    width: 22%;
    padding-left: 3%;
  }

  .header-nav__extra-nav-item--delivery {
    order: 2;
    margin-left: auto;
  }

  .header-nav__extra-nav-delivery {
    line-height: 59px;
  }
}
