@import "../mixins.scss";

.header-intro {
  @include container();
  padding-top: 93px;
  padding-bottom: 120px;

  background: url("../img/hero-mobile@1x.jpg") no-repeat 50% 50%;
}

.header-intro p {
  font-size: 26px;
  line-height: 30px;
  text-align: center;
}
