@import "../mixins.scss";

.header-nav__nav-list {
  @include unstyle-list();
}

.header-nav__nav-list-item a {
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.header-nav__nav-list-item-search input {
  line-height: 24px;
  color: #000000;
}

.header-nav__nav-list-item-cart a {
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}
