@import "../mixins.scss";

.intro {
  display: flex;
  justify-content: center;

  background: url("../img/hero-mobile@1x.jpg") no-repeat 50% 20%;
  background-size: inherit;
  border-top: 1px solid #ececec;

  @media #{$retina} {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: 575px auto;
  };
}

.intro__slogan {
  width: 250px;
  margin-top: 70px;
  margin-bottom: 122px;

  font-size: 27px;
  text-align: center;
}

@media #{$tablet-widths} {
  .intro {
    border-top: none;
    background: url("../img/hero-desktop@1x.jpg") no-repeat 50% -74px;

    @media #{$retina} {
      background-image: url("../img/hero-desktop@2x.jpg");

      background-size: 1150px auto;
    };
  }

  .intro__slogan {
    width: auto;
    margin-top: 82px;
    margin-bottom: 373px;

    font-size: 43px;
    line-height: 50px;
  }
}

@media #{$desktop-widths} {
  .intro {
    background-position: 50% -76px;
  }

  .intro__slogan {
    width: auto;
    margin-top: 78px;
    margin-bottom: 359px;


    font-size: 53px;
    line-height: 57px;
  }
}
