@import "../mixins.scss";

.item {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  padding-bottom: 28px;

  border: 1px solid $border-color;
}


.item__photo {
  margin-bottom: 18px;
}

.item__title {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 30px;

  font-size: 17px;
  line-height: 24px;
  color: #000000;
}

.item__description {
  margin-top: 5px;
  margin-left: 30px;
  padding-bottom: 19px;

  font-weight: normal;
  font-size: 13px;
  color: #444444;

  border-bottom: 1px solid #ececec;
margin-right: 30px;
}

.item__title--toys-basket {
  width: 174px;
}

.item__price {
    margin-top: 7px;
  margin-left: 30px;

  font-size: 15px;
  line-height: 24px;
}
