@import "../mixins.scss";

.main-menu {
  display: flex;
  flex-wrap: wrap;

  @include unstyle-list();
}

.main-menu__item {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 103px;

  background-color: #63d1bb;
  &--toys {
    background-color: #56c3b2;
  }
}

.main-menu__item-name {
  box-sizing: border-box;
  padding-right: 70%;

  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;

  @include container-fluid();
}

@media #{$tablet-widths} {
  .main-menu {
    flex-wrap: wrap;
    padding-bottom: 40px;

    @include container-fluid();
  }

  .main-menu__item {
    width: 50%;
    min-height: 119px;
  }

  .main-menu__item-name {
    margin-left: 38px;

    font-size: 20px;
    line-height: 30px;
  }
}

@media #{$desktop-widths} {
  .main-menu {
    padding-bottom: 0;
  }

  .main-menu__item {
    margin-bottom: 117px;
  }
}
