@import "../mixins.scss";

.page-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-right: 30px;
  padding-left: 30px;
}

.page-header__logo {
  margin-right: auto;
  margin-left: 50%;
  padding-top: 22px;
  padding-bottom: 22px;
  line-height: 0;

  transform: translate(-50%);
}

.page-header__logo img {
  width: 86px;
  height: 35px;
}

@media #{$tablet-widths} {
  .page-header {
    padding-right: 50px;
    padding-left: 50px;
  }
  .page-header__logo {
    margin-left: 0;
    padding-left: 0;
  }
}

@media #{$desktop-widths} {
  .page-header {
    position: relative;

    padding-right: 50px;
    padding-left: 50px;
  }

  .page-header__logo {
    position: absolute;
    left: 50%;

    transform: translateX(-50%);
  }
}
