@import "../mixins.scss";

.product-of-the-week {
  color: #444444;

  @include container();
}

.product-of-the-week__title-main {
  font-size: 25px;
  color: #000000;
}

.product-of-the-week__title-note {
  font-size: inherit;
  line-height: 16px;
  color: #63d1bb;
  text-transform: uppercase;
}

.product-of-the-week__description,
.product-of-the-week__characteristics {
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
}

.product-of-the-week__characteristics {
  font-size: 0;
  line-height: 20px;
}

.product-of-the-week__characteristics p {
  display: inline-block;

  font-size: 15px;
}

.product-of-the-week__characteristic-name {
  width: 98px;
}

.product-of-the-week__characteristic-value {
  width: 162px;
}

.product-of-the-week__price {
  margin-bottom: 34px;

  font-size: 15px;
  line-height: 20px;
  text-align: center;
}

.product-of-the-week__order {
  @include btn;
}

@media #{$tablet-widths} {
  .product-of-the-week {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 508px;
  }

  .product-of-the-week__title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 55px;
  }

  .product-of-the-week__title-main {
    margin: 0;

    font-size: 43px;
    line-height: 50px;
  }

  .product-of-the-week__title-note {
    width: 78px;
    margin-right: 27px;

    text-align: center;
  }

  .product-of-the-week__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 312px;
  }

  .product-of-the-week__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .product-of-the-week__description-intro {
    width: 285px;
    margin: 0;
    padding-bottom: 25px;

    font-size: 17px;
    line-height: 30px;
  }

  .product-of-the-week__picture {
    width: 333px;
    height: 404px;
  }

  .product-of-the-week__characteristics {
    width: 291px;
    margin-bottom: 57px;
    p {
      margin: 0;

      line-height: 39px;

      border-bottom: 1px solid $border-color;
    }
  }

  .product-of-the-week__characteristic-value {
    width: 193px;
  }

  .product-of-the-week__price {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
  }

  .product-of-the-week__order {
    width: 288px;

    font-weight: bold;
  }
}


@media #{$desktop-widths} {
  .product-of-the-week__title {
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  .product-of-the-week__title-note {
    box-sizing: border-box;
    width: 175px;
    margin: 0;
    padding: 0 50px;

    text-align: center;
  }

  .product-of-the-week__title-main {
    position: relative;
    z-index: 2;

    order: 1;

    font-size: 53px;
    line-height: 57px;
  }

  .product-of-the-week__info {
    padding-left: 175px;
  }

  .product-of-the-week__description-intro {
    padding-bottom: 50px;
  }

  .product-of-the-week__characteristics {
    width: 291px;
    margin-bottom: 114px;
  }

  .product-of-the-week__picture {
    position: relative;
    z-index: 1;

    align-self: center;
    width: 525px;
    height: 636px;
    margin-top: -166px;
  }
}
