@import "../mixins.scss";

.production {
  display: flex;
  flex-wrap: wrap;
  width: 260px;
  margin-right: auto;
  margin-bottom: 17px;
  margin-left: auto;

  border: 1px solid $border-color;
}

.production__title {
  margin-top: 26px;
  margin-left: 13%;
  margin-bottom: 24px;
  padding-left: 22%;

  font-size: inherit;
  line-height: 24px;
}

.production__video {
  margin-bottom: 28px;
}

.production__description {
  margin-top: 0;
  margin-right: 13.5%;
  margin-bottom: 24px;
  margin-left: 13%;

  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}

.production__order {
  margin: 0 auto;
  margin-bottom: 33px;

  @include btn(192px);
}


@media #{$tablet-widths} {
  .production {
    padding-bottom: 25px;

    border-top: transparent;

    @include container();
  }

  .production__video {
    order: 0;
    width: 100%;
    height: 455px;
    margin-bottom: 0;
  }

  .production__title {
    order: 1;
    width: 100%;
    margin-top: 35px;
    margin-left: 6%;
    padding-left: 9.8%;

    font-size: 20px;
    line-height: 24px;
}


  .production__description {
    order: 2;
    margin-top: 8px;
    margin-bottom: 35px;
    margin-left: 6%;

    font-size: 15px;
    line-height: 30px;
    margin-right: 6%;
  }

  .production__order {
    order: 3;
    width: 87%;
    margin-bottom: 45px;
  }
}

@media #{$desktop-widths} {
  .production {
    display: block;

    @include clearfix();
    padding-bottom: 70px;
  }

  .production__title {
    float: right;
    box-sizing: border-box;
    width: 33%;
    margin: 0;
    margin-top: 37px;
    padding-top: 63px;
    padding-right: 10%;
    padding-left: 5.5%;
  }

  .production__video {
    float: left;
    width: 65%;
    height: 455px;
  }

  .production__description {
    float: right;
    box-sizing: border-box;
    width: 33%;
    margin: 0;
    margin-top: 33px;
    padding-left: 5.5%;
  }

  .production__order {
    float: right;
    width: 22%;
    margin-top: 46px;
    margin-right: 5%;
  }
}
