@import "../mixins.scss";

.reviews {
  @include container();
  padding-bottom: 44px;
}

.reviews__title {
  margin-top: 61px;

  font-size: 25px;
  margin-bottom: 38px;
}

.reviews__item {
  margin-left: 0;
  margin-right: 0;
}

.reviews__content {
  font-size: 15px;
  color: #444444;
  font-weight: normal;
}

.reviews__author-name {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  font-weight: bold;
}

.reviews__author-social-link {
  color: #444444;
  font-style: normal;
  font-size: 18px;
}

.reviews__write {
  margin-top: 38px;
  @include btn;
}

@media #{$tablet-widths} {

  .reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .reviews__title {
    margin-top: 71px;
    font-size: 43px;
    line-height: 50px;
    order: 0;
  }

  .reviews__write {
    order: 1;
    flex-basis: auto;
    width: 175px;
    height: 52px;
    align-self: center;
  }

  .reviews__content {
    order: 2;
    font-size: 17px;
    margin-bottom: 0;
    padding-bottom: 40px;
  }

  .reviews__author {
    order: 3;
  }

  .reviews__author-name {
    font-size: 17px;
    margin-bottom: 5px;
  }

  .reviews__author-social-link {
    font-size: 17px;
    font-weight: normal;

  }

  .reviews__btn {
    height: 26px;
    width: 50px;
    font-size: 0;
    border: none;
    background-color: transparent;
    margin-top: 33px;


  }

  .reviews__btn--prev {
    order: 4;
    background: url("../img/icon-left-arrow.svg") no-repeat;
    margin-right: 37px;
    margin-left: auto;
  }

  .reviews__btn--next {
    order: 5;
    background: url("../img/icon-right-arrow.svg") no-repeat;
  }

}

@media #{$desktop-widths} {
  .reviews {
    padding-bottom: 96px;
  }

  .reviews__title {
    margin-top: 71px;
    font-size: 53px;
    line-height: 57px;
    padding-left: 175px
  }

  .reviews__content {
    padding-left: 175px;
    padding-bottom: 37px;
  }

  .reviews__author {
    padding-left: 175px;
  }

  .reviews__btn {
    margin-top: 14px;
  }
}
